body {
  background-color: #faebd7;
}


#sidebar {
    width: 15%;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background:#faebd7;
    color: #fff;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    transition: all 0.3s;
}

li {
    margin: 1rem;
    margin-left: 0.75rem; 
    font-family: Julius Sans One, sans-serif !important;
    color: black; 
    font-size: 110%;
}

.size {
    font-size: 90%;
}


p, .sidebar-header {
    color: black; 
}

.logo {
    width: 2rem; 
    height: 2rem;
}

.github {
    width: 2.25rem !important; 
    height: 2.25rem !important; 
}

.socials {
    margin-top: 155%;
}




.list-unstyled {
  margin-left: 1rem; 
}

.name {
    margin-left: 2rem;
    margin-top: 2rem;
}

.container{
    /* border-top:3px solid #8DBF43; */ 
    width:100% !important;
}


a, a:hover {
    color: black; 
    font-family: 'Mada', sans-serif;

}

